.ant-table-wrapper{
  width: 100%;
  max-width: 700px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 2px solid gray;
}
.ant-table-wrapper .ant-table-pagination.ant-pagination{
  display: none;
}